<div class=" centercontent">
  <div class=" taskview">

      <div class="sidebar ">
        <h3 class="title text-primary">LISTS</h3>

           <div class="listmenu">
              <a class="list menu item">
                 <p>List 1</p>
             </a>
             <a class="list menu item">
               <p>List 1</p>
             </a>
            </div>
    

      <button class="button bg-primary text-white">+LIST </button>


      </div>

  <div class="containertasklist ">
    <h2 class="title text-primary ">TASKS</h2>

 
       <div class="task">
          <a >some thiing to do</a>
       </div>
       
       <div class="task">
        <p>some thiing to do</p>
     </div>
     
     <div class="task">
      <p>some thiing to do</p>
   </div>

 </div>
</div>  
</div>

